body {
  padding-top: 50px;
  background-color: #ECF0F1;
}
.starter-template {
  padding: 55px 15px;
  text-align: center;
}
.navbar-inverse {
  background-color: #3498DB;
}
.navbar-inverse .navbar-nav > li > a {
  color: #333333;
}
.navbar-brand {
  line-height: 17px;
}
.navbar-inverse .navbar-brand {
  color: #333333;
}
