body {
  padding-top: 50px;
//  background-color: #ECF0F1;
}
.starter-template {
  padding: 55px 15px;
  text-align: center;
}
.navbar-inverse {
//  background-color: #3498DB;
}
.navbar-inverse .navbar-nav > li > a {
//  color: #333333;
}
.navbar-brand {
  line-height: 17px;
}
.navbar-inverse .navbar-brand {
//  color: #333333;
}
.sidebar-offcanvas {
  margin-top: 85px;
}
.row > div[class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
//  background-color: #eee;
//  border: 1px solid #ddd;
//  background-color: rgba(86,61,124,.15);
//  border: 1px solid rgba(86,61,124,.2);
}


@media (min-width: 992px)
.bs-sidebar.affix-bottom .bs-sidenav, .bs-sidebar.affix .bs-sidenav {
  margin-top: 0;
  margin-bottom: 0;
}

.bs-sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f5fa;
  border-radius: 5px;
}

.nav > li > .nav > li > a {
  padding: 7px 25px;
  font-size: .9em;
}

