@font-face {
  font-family: bebas;
  src:         url(../fonts/BEBAS.ttf);
}
.navbar-inverse .navbar-nav > li > a, .navbar > .container .navbar-brand {
  color: #FFF;
}
@media (min-width: 980px) {
  .navbar-inverse .navbar-nav > li > a, .navbar > .container .navbar-brand {
    line-height: 100px;
    height : 95px;
    vertical-align:  bottom;
    font-size:   1.15em;
  }
}
.navbar-toggle {
  padding: 29px 10px;
}
.navbar-inverse {
  background: #3F322E;
  color:      #FFF;
  border-bottom: 2px solid #848076;
}
body {
  padding-top: 120px;
}
.navbar > .container .navbar-brand {
  font-size:   1.9em;
  margin-top:  -5px;
  font-family: bebas;
}
.navbar-brand .hn_logo {
  height:   2em;
  position: relative;
  left:     -.2em;
}
.btn-lg {
  border-radius: 2px;
}
.btn-primary {
  background:   #46B4DC;
  border-color: rgba(0,0,0,.25);
}
.btn-primary:hover {
  background: #35A3CB;
}
.sidebar-offcanvas {
  margin-top: 0;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
  background:   #1EE4FF;
  border-color: #1EE4FF;
  color:        #3F322E;
}
.form-control {
  padding:       24px 12px;
  border-radius: 0;
}
